.carousel {
    .embed-responsive-4by3 {
        padding-bottom: 57%;
    }
}

.chamada {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 15% auto 0;
}

.ciquentaAgenciaDoBrasil {
    width: 100%;
    position: relative;
    float: left;
    padding-top: 80px;
    padding-bottom: 100px;

    .txt-1 {
        border-right: solid 2px#e0e13e;

        p {
            font-family: 'Futura Std';
            text-transform: uppercase;
            font-weight: normal;
            font-style: normal;
            color: #9a1311;
            text-align: right;
            font-size: 43px;
            line-height: 43px;
            margin-bottom: 30px;
            padding-right: 50px;
        }
    }

    .txt-2 {
        p {
            font-family: 'Futura Std';
            font-weight: normal;
            font-style: normal;
            color: #4f555c;
            text-align: left;
            font-size: 17px;
            line-height: 27px;
            margin-bottom: 20px;
            padding-left: 50px;
        }
    }

    .logo-50 {
        margin-top: 70px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .carousel {
        padding-top: 70px;
    }

    .chamada {
        width: 80%;
    }

    .ciquentaAgenciaDoBrasil {
        width: 100%;
        position: relative;
        float: left;
        padding-top: 20px;
        padding-bottom: 40px;

        .txt-1 {
            border-right: solid 0px transparent;
            border-bottom: solid 2px#e0e13e;
            padding-bottom: 20px;

            p {
                text-align: center;
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 0px;
                padding-right: 0px;
            }
        }

        .txt-2 {
            padding-top: 20px;
            p {
                text-align: center;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 20px;
                padding-left: 0px;
            }
        }

        .logo-50 {
            margin-top: 30px;
        }
    }

}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}