.jobs {
    width: 100%;
    position: relative;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;

    .container-img {
        width: 800px;
        margin: 0 auto;
    }

    .box_200_200 {
        width: 100%;
        height: 200px;
        display: block;
        float: left;
        overflow: hidden;
    }

    .box_200_400 {
        width: 25%;
        height: 400px;
        display: block;
        float: left;
        overflow: hidden;
    }

    .bg-cinza {
        background-color: #c0c6c9;
    }

    .bg-degrade-1 {
        background: url(../images/bg-degrade-1.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-degrade-2 {
        background: url(../images/bg-degrade-2.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-degrade-3 {
        background: url(../images/bg-degrade-3.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-degrade-4 {
        background: url(../images/bg-degrade-4.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-degrade-5 {
        background: url(../images/bg-degrade-5.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-img {
        height: 100%;
        width: 100%;
        display: block;
        transition: all 0.5s ease;
        filter: grayscale(100%);
    }

    .bg-img:hover {
        transform: scale(1.2);
        filter: grayscale(0);
    }

    .zeca {
        background: url(../images/zeca.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bruno {
        background: url(../images/bruno.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .monica {
        background: url(../images/monica.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .maison {
        background: url(../images/maison.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .casal {
        background: url(../images/casal.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .seleto {
        background: url(../images/seleto.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .edificio {
        background: url(../images/edificio.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .decolar {
        background: url(../images/decolar.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .jobs {
        width: 100%;
        position: relative;
        float: left;

        .container-img {
            width: 100%;
        }

        .box_200_200 {
            height: 100px;
        }

        .box_200_400 {
            height: 200px;
        }

    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}