.na-spicy {
    width: 100%;
    position: relative;
    float: left;
    background-color: #c0c6c9;
    padding-bottom: 76px;
    padding-top: 76px;

    .info {
        p {
            font-family: 'Futura Std';
            text-transform: uppercase;
            font-weight: bold;
            font-style: normal;
            color: #262424;

            span {
                color: #861115;
            }
        }

        .t-1 {
            font-size: 25px;
            line-height: 30px;
        }

        .t-2 {
            font-size: 39px;
            line-height: 39px;
            margin-top: 5px;
        }

        .t-3 {
            font-size: 17px;
            line-height: 25px;
        }

        .t-4 {
            font-size: 22px;
            line-height: 22px;
        }

        .mt-1 {
            margin-top: 30px;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .na-spicy {
        padding-top: 40px;
        padding-bottom: 40px;

        .info {
            .t-1 {
                font-size: 20px;
                line-height: 25px;
            }

            .t-2 {
                font-size: 35px;
                line-height: 35px;
                margin-top: 15px;
            }
            .mt-1 {
                margin-top: 15px;
            }
        }
        .logo-360 {
            margin-top: 20px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}