.tempero {
    width: 100%;
    position: relative;
    float: left;
    padding-bottom: 50px;
    p {
        font-family: 'Futura Std';
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        color: #b2b4b6;
        span {
            color: #9a1311;
        }
    }

    .t-1 {
        font-size: 40px;
        line-height: 45px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .tempero {
        padding-top: 0px;
        padding-bottom: 0px;
        .t-1 {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}