@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Book.eot");
  src: url("../fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Book.woff2") format("woff2"), url("../fonts/FuturaStd-Book.woff") format("woff"), url("../fonts/FuturaStd-Book.ttf") format("truetype"), url("../fonts/FuturaStd-Book.svg#FuturaStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-ExtraBold.eot");
  src: url("../fonts/FuturaStd-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaStd-ExtraBold.woff") format("woff"), url("../fonts/FuturaStd-ExtraBold.ttf") format("truetype"), url("../fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Medium.eot");
  src: url("../fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Medium.woff2") format("woff2"), url("../fonts/FuturaStd-Medium.woff") format("woff"), url("../fonts/FuturaStd-Medium.ttf") format("truetype"), url("../fonts/FuturaStd-Medium.svg#FuturaStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Bold.eot");
  src: url("../fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff"), url("../fonts/FuturaStd-Bold.ttf") format("truetype"), url("../fonts/FuturaStd-Bold.svg#FuturaStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.modal {
  background: url(../images/bg-modal.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal .modal-body {
  padding: 0px;
}

.modal .modal-content {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
}

.modal .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 999;
}

.modal .modal-dialog {
  margin: 9% auto;
}

/* Extra Small */
@media (max-width: 767px) {
  .modal {
    background: url(../images/bg-modal-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .modal .modal-dialog {
    margin: 110px auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar {
  background-color: #0a0405;
  border-color: #0a0405;
  border-radius: 0px;
  margin-bottom: 0;
  min-height: auto;
  border: 0px solid transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar .navbar-brand {
  float: left;
  height: auto;
  padding: 0px;
}

.navbar .navbar-nav > li > a {
  font-family: 'Futura Std';
  font-weight: normal;
  font-style: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #CC2128;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav .active,
.navbar .navbar-nav .active:focus,
.navbar .navbar-nav .active:hover {
  color: #FFF;
  background-color: transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .navbar .navbar-header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #CC2128;
  }
  .navbar .navbar-toggle {
    border-color: #CC2128;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #CC2128;
  }
  .navbar .navbar-toggle:focus,
  .navbar .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar .navbar-brand {
    padding-left: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
.carousel .embed-responsive-4by3 {
  padding-bottom: 57%;
}

.chamada {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 15% auto 0;
}

.dezoitoanos {
  width: 100%;
  position: relative;
  float: left;
  background-image: url(../images/bg-pimenta-3.jpg), url(../images/bg-pimenta-1.jpg), url(../images/bg-pimenta-2.jpg);
  background-position: right top, 10% top, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  margin-top: -5px;
  padding-top: 70px;
  padding-bottom: 80px;
}

.dezoitoanos p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.dezoitoanos p:nth-child(1),
.dezoitoanos p:nth-child(3) {
  color: #9b0e17;
}

.dezoitoanos p:nth-child(2) {
  color: #86888b;
}

.dezoitoanos p:nth-child(1) {
  font-size: 70px;
  line-height: 70px;
}

.dezoitoanos p:nth-child(2) {
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
}

.dezoitoanos p:nth-child(3) {
  font-size: 50px;
  line-height: 50px;
  margin-top: 15px;
}

.ciquentaAgenciaDoBrasil {
  width: 100%;
  position: relative;
  float: left;
  background: url(../images/bg-50.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ciquentaAgenciaDoBrasil .info p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.ciquentaAgenciaDoBrasil .info p span {
  font-family: 'Futura Std';
  font-weight: bold;
  font-style: normal;
  font-size: 25x;
  line-height: 25px;
}

.ciquentaAgenciaDoBrasil .logo-50 {
  margin-top: 20px;
}

/* Extra Small */
@media (max-width: 767px) {
  .carousel {
    padding-top: 70px;
  }
  .chamada {
    width: 80%;
    margin: 30% auto 0;
  }
  .dezoitoanos {
    background: url(../images/bg-18anos-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .dezoitoanos p:nth-child(1) {
    font-size: 35px;
    line-height: 35px;
  }
  .dezoitoanos p:nth-child(2) {
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
  }
  .dezoitoanos p:nth-child(3) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  .ciquentaAgenciaDoBrasil {
    background: url(../images/bg-50-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* Small */
/* Medium */
/* Large */
/* Pagina Load */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: #000;
}

#bg_loader {
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  float: left;
  position: relative;
}

.windows8 {
  position: relative;
  width: 26px;
  height: 26px;
  margin: auto;
  padding-top: 40px;
}

.windows8 .wBall {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 3.6325s infinite;
  -o-animation: orbit 3.6325s infinite;
  -ms-animation: orbit 3.6325s infinite;
  -webkit-animation: orbit 3.6325s infinite;
  -moz-animation: orbit 3.6325s infinite;
}

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  left: 0px;
  top: 0px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.windows8 #wBall_1 {
  animation-delay: 0.796s;
  -o-animation-delay: 0.796s;
  -ms-animation-delay: 0.796s;
  -webkit-animation-delay: 0.796s;
  -moz-animation-delay: 0.796s;
}

.windows8 #wBall_2 {
  animation-delay: 0.153s;
  -o-animation-delay: 0.153s;
  -ms-animation-delay: 0.153s;
  -webkit-animation-delay: 0.153s;
  -moz-animation-delay: 0.153s;
}

.windows8 #wBall_3 {
  animation-delay: 0.3165s;
  -o-animation-delay: 0.3165s;
  -ms-animation-delay: 0.3165s;
  -webkit-animation-delay: 0.3165s;
  -moz-animation-delay: 0.3165s;
}

.windows8 #wBall_4 {
  animation-delay: 0.4695s;
  -o-animation-delay: 0.4695s;
  -ms-animation-delay: 0.4695s;
  -webkit-animation-delay: 0.4695s;
  -moz-animation-delay: 0.4695s;
}

.windows8 #wBall_5 {
  animation-delay: 0.633s;
  -o-animation-delay: 0.633s;
  -ms-animation-delay: 0.633s;
  -webkit-animation-delay: 0.633s;
  -moz-animation-delay: 0.633s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
            transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
            transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
            transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

.na-spicy {
  width: 100%;
  position: relative;
  float: left;
  background-color: #c0c6c9;
  padding-bottom: 56px;
  padding-top: 76px;
}

.na-spicy .info {
  padding-top: 50px;
}

.na-spicy .info p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  color: #262424;
}

.na-spicy .info p span {
  color: #861115;
}

.na-spicy .info .t-1 {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 1px;
}

.na-spicy .info .t-2 {
  font-size: 49px;
  line-height: 49px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.na-spicy .info .t-3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}

.na-spicy .info .t-4 {
  font-size: 22px;
  line-height: 22px;
}

.na-spicy .info .mt-1 {
  margin-top: 30px;
}

.tempero {
  width: 100%;
  position: relative;
  float: left;
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 50px;
}

.tempero p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

.tempero p span {
  color: #861115;
}

.tempero .t-1 {
  font-size: 40px;
  line-height: 45px;
}

.tempero .t-2 {
  font-size: 54px;
  line-height: 54px;
  margin-top: 5px;
}

/* Extra Small */
@media (max-width: 767px) {
  .na-spicy {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .na-spicy .info {
    padding-top: 0px;
  }
  .na-spicy .info .t-1 {
    font-size: 20px;
    line-height: 25px;
  }
  .na-spicy .info .t-2 {
    font-size: 35px;
    line-height: 35px;
    margin-top: 15px;
  }
  .na-spicy .info .t-3 {
    font-size: 15px;
    line-height: 25px;
  }
  .na-spicy .info .mt-1 {
    margin-top: 15px;
  }
  .na-spicy .logo-360 {
    margin: 20px auto 0;
  }
  .tempero {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .tempero .t-1 {
    font-size: 25px;
    line-height: 30px;
  }
  .tempero .t-2 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 15px;
  }
}

/* Small */
/* Medium */
/* Large */
footer {
  width: 100%;
  position: relative;
  float: left;
  background: url(../images/bg-footer.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 25px;
}

footer p,
footer a {
  color: #fff;
}

footer .redes {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

footer .redes a {
  display: inline-block;
  margin: 0 auto;
}

footer .redes img {
  max-width: 80%;
}

footer .legal p {
  font-family: 'Futura Std';
  font-weight: bold;
  font-style: normal;
}

footer .legal a:hover,
footer .legal a:focus {
  color: #fff;
}

footer .box-1 {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

footer .box-1 .t-1 {
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 5px;
  padding-left: 21%;
}

footer .box-1 .t-2 {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

footer .box-1 .t-2 span {
  font-size: 35px;
  font-weight: bold;
}

footer .box-1 .t-3 {
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 8px;
  padding-left: 13%;
}

footer .box-1 .t-4 {
  font-size: 15px;
  line-height: 30px;
}

footer .box-1 .t-4 span {
  font-size: 30px;
  font-weight: bold;
}

/* Extra Small */
@media (max-width: 767px) {
  footer {
    background: url(../images/bg-footer-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  footer .box-1 {
    text-align: center;
  }
  footer .box-1 .t-1 {
    padding-left: 0px;
  }
  footer .box-1 .t-2 {
    font-size: 25px;
    line-height: 30px;
  }
  footer .box-1 .t-2 span {
    font-size: 30px;
  }
  footer .box-1 .t-3 {
    margin-top: 30px;
  }
  footer .box-1 .t-4 span {
    font-size: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.jobs {
  width: 100%;
  position: relative;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.jobs .container-img {
  margin: 0 auto;
}

.jobs .box_200_200 {
  width: 100%;
  height: 292px;
  display: block;
  float: left;
  overflow: hidden;
}

.jobs .box_200_200_25 {
  width: 25%;
  height: 292px;
  display: block;
  float: left;
  overflow: hidden;
}

.jobs .box_200_400 {
  width: 25%;
  height: 584px;
  display: block;
  float: left;
  overflow: hidden;
}

.jobs .bg-cinza {
  background-color: #c0c6c9;
}

.jobs .bg-degrade-1 {
  background: url(../images/bg-degrade-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bg-degrade-2 {
  background: url(../images/bg-degrade-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bg-degrade-3 {
  background: url(../images/bg-degrade-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bg-degrade-4 {
  background: url(../images/bg-degrade-4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bg-degrade-5 {
  background: url(../images/bg-degrade-5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bg-img {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.jobs .bg-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.jobs .canaan {
  background: url(../images/canaan.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .terrara {
  background: url(../images/terrara.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .hotmilhas {
  background: url(../images/hotmilhas.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .merolar {
  background: url(../images/merolar.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .maisonhelena {
  background: url(../images/maisonhelena.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .milhas123 {
  background: url(../images/milhas123.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .varanda {
  background: url(../images/varanda.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .copacabana {
  background: url(../images/copacabana.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .sorocaba123milhas {
  background: url(../images/sorocaba123milhas.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .beehappy {
  background: url(../images/beehappy.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .seleto {
  background: url(../images/seleto.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .fix {
  background: url(../images/fix.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .just {
  background: url(../images/just.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .pastelandia {
  background: url(../images/pastelandia.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .bouts {
  background: url(../images/bouts.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.jobs .terrasdaalvorada {
  background: url(../images/terrasdaalvorada.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/* Extra Small */
@media (max-width: 767px) {
  .jobs {
    width: 100%;
    position: relative;
    float: left;
  }
  .jobs .container-img {
    width: 100%;
  }
  .jobs .box_200_200 {
    height: 100px;
  }
  .jobs .box_200_200_25 {
    height: 100px;
  }
  .jobs .box_200_400 {
    height: 200px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */