@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Book.eot");
  src: url("../fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Book.woff2") format("woff2"), url("../fonts/FuturaStd-Book.woff") format("woff"), url("../fonts/FuturaStd-Book.ttf") format("truetype"), url("../fonts/FuturaStd-Book.svg#FuturaStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-ExtraBold.eot");
  src: url("../fonts/FuturaStd-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaStd-ExtraBold.woff") format("woff"), url("../fonts/FuturaStd-ExtraBold.ttf") format("truetype"), url("../fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Medium.eot");
  src: url("../fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Medium.woff2") format("woff2"), url("../fonts/FuturaStd-Medium.woff") format("woff"), url("../fonts/FuturaStd-Medium.ttf") format("truetype"), url("../fonts/FuturaStd-Medium.svg#FuturaStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url("../fonts/FuturaStd-Bold.eot");
  src: url("../fonts/FuturaStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../fonts/FuturaStd-Bold.woff") format("woff"), url("../fonts/FuturaStd-Bold.ttf") format("truetype"), url("../fonts/FuturaStd-Bold.svg#FuturaStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.navbar {
  background-color: #0a0405;
  border-color: #0a0405;
  border-radius: 0px;
  margin-bottom: 0;
  min-height: auto;
  border: 0px solid transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar .navbar-brand {
  float: left;
  height: auto;
  padding: 0px;
}

.navbar .navbar-nav > li > a {
  font-family: 'Futura Std';
  font-weight: normal;
  font-style: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #CC2128;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .navbar .navbar-header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #CC2128;
  }
  .navbar .navbar-toggle {
    border-color: #CC2128;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #CC2128;
  }
  .navbar .navbar-toggle:focus,
  .navbar .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar .navbar-brand {
    padding-left: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
.carousel .embed-responsive-4by3 {
  padding-bottom: 57%;
}

.chamada {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 15% auto 0;
}

.dezoitoanos {
  width: 100%;
  position: relative;
  float: left;
  background: url(../images/bg-18anos.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -4px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dezoitoanos p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.dezoitoanos p:nth-child(1),
.dezoitoanos p:nth-child(3) {
  color: #9b0e17;
}

.dezoitoanos p:nth-child(2) {
  color: #86888b;
}

.dezoitoanos p:nth-child(1) {
  font-size: 60px;
  line-height: 60px;
}

.dezoitoanos p:nth-child(2) {
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
}

.dezoitoanos p:nth-child(3) {
  font-size: 40px;
  line-height: 40px;
  margin-top: 15px;
}

.ciquentaAgenciaDoBrasil {
  width: 100%;
  position: relative;
  float: left;
  background: url(../images/bg-50.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ciquentaAgenciaDoBrasil .info p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.ciquentaAgenciaDoBrasil .info p span {
  font-family: 'Futura Std';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.ciquentaAgenciaDoBrasil .logo-50 {
  margin-top: 20px;
}

/* Extra Small */
@media (max-width: 767px) {
  .carousel {
    padding-top: 70px;
  }
  .chamada {
    width: 80%;
    margin: 30% auto 0;
  }
  .dezoitoanos {
    background: url(../images/bg-18anos-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .dezoitoanos p:nth-child(1) {
    font-size: 35px;
    line-height: 35px;
  }
  .dezoitoanos p:nth-child(2) {
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
  }
  .dezoitoanos p:nth-child(3) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  .ciquentaAgenciaDoBrasil {
    background: url(../images/bg-50-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* Small */
/* Medium */
/* Large */
.na-spicy {
  width: 100%;
  position: relative;
  float: left;
  background-color: #c0c6c9;
  padding-bottom: 76px;
  padding-top: 76px;
}

.na-spicy .info p {
  font-family: 'Futura Std';
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  color: #262424;
}

.na-spicy .info p span {
  color: #861115;
}

.na-spicy .info .t-1 {
  font-size: 25px;
  line-height: 30px;
}

.na-spicy .info .t-2 {
  font-size: 39px;
  line-height: 39px;
  margin-top: 5px;
}

.na-spicy .info .t-3 {
  font-size: 17px;
  line-height: 25px;
}

.na-spicy .info .t-4 {
  font-size: 22px;
  line-height: 22px;
}

.na-spicy .info .mt-1 {
  margin-top: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .na-spicy {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .na-spicy .info .t-1 {
    font-size: 20px;
    line-height: 25px;
  }
  .na-spicy .info .t-2 {
    font-size: 35px;
    line-height: 35px;
    margin-top: 15px;
  }
  .na-spicy .info .mt-1 {
    margin-top: 15px;
  }
  .na-spicy .logo-360 {
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */